.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--azul-cinza-escuro);
}

.header input {
    display: none;
}

.header nav ul {
    display: flex;
     /* padding: 20px;
     */
}

 .header nav ul li a {
    font-size:  1.375rem;
    /* padding: 18px 15px;  */
    color: var(--branco);
} 

.header nav ul a:hover {
    border-bottom: 1px solid var(--branco);
}