:root {
    --azul-cinza-escuro: #212529;
    --branco-cinza: #E9ECEF;
    --branco: #ffff;
    --azul-cinza-claro: #343A40;
    --preto-neutro: #1E1E1E;
    --verder-escuro: #067E12;
    --amarelo-cinzentado: #D4C572;
    /* width and height: altura e largura em rem*/
    --header-heigth: cal(51px / 16 * 1rem);
    --width-container: 1109px;
}